{% extends "layout.html" %}

{% block content %}
<section class="about" id="about">
  <div>
    <h1>ABOUT</h1>
    <p class="line"></p>
  </div>
  <div>
    Top 5 is a North American Media company and they aim to become a leader in providing tourists and locals the best Montreal
    has to offer. Whether it would be food, night life, activities, places to relax and so on. Top 5's model is to build
    on individual competencies of each of its employees. Over the years, each employee has developed their own expertise
    in providing a distinct and personal experience. Top 5 works with each employee to leverage their individual and combined
    capabilities, in order to make Montreal a top destination for tourists and an advertising giant for local companies.
  </div>
</section>
{% endblock %}