{% extends "layout.html" %} 

{% block content %}
<section class="careers" id="careers">
    <div>
        <h1>CAREERS</h1>
    </div>
    <p class="line"></p>
    <div>
        <h2 style="margin-bottom: 15px;">Why Work For Us?</h2>
        <ul>
            <li>flexible Shifts And Hours</li>
            <li>Work From Home</li>
            <li>50% Off Monthly Public Transportation</li>
            <li>Sick Days Paid For</li>
            <li>50% Off Monthly Gym Membership</li>
            <li>Health, Dental, Travel and Vision Insurance included</li>
            <li>Open Bar Monthly Parties</li>
            <li>Free Beer Everyday</li>
            <li>Free Coffee Everyday</li>
            <li>Free Breakfast Everyday</li>
            <li>Weekly 5 à 7</li>
        </ul>
    </div>
    <div class="openPositions">
        <h2 style="margin-bottom: 15px;">Open Positions</h2>
        <h4 class="space">Communications</h4>
        <ul>
            <li>Intern, NanoTech Media</li>
            <li>Social Media, Internship</li>
        </ul>
        <h4 class="space">Editorial</h4>
        <ul>
            <li>Writer, Intership</li>
            <li>Writer, Junior</li>
            <li>Writer, Senior</li>
        </ul>
        <h4 class="space">Filming/Photography</h4>
        <ul>
            <li>Video Host, Junior</li>
            <li>Photographer, Senior</li>
        </ul>
        <h4 class="space">Production</h4>
        <ul>
            <li>Sponsored Content Creator, Internship</li>
            <li>Sponsored Content Creator, Junior</li>
            <li>Production Manager, Senior</li>
        </ul>
        <h4 class="space">Information Technology (IT)</h4>
        <ul>
            <li> Application Developer, Internship</li>
            <li> Application Support Analyst, Junior</li>
            <li> Application Engineer, Junior</li>
            <li>Chief Technology Officer, Senior</li>
        </ul>
        </ul>
    </div>
</section>
{% endblock %}