{% extends "layout.html" %}

{% block content %}
<section class="events" id="events">
    <div>
        <h1>EVENTS</h1>
    </div>
    <p class="line"></p>

    <div>
        <ul>

            <li>November 29th 2017: Best Of MTL awards day</li>

            <li>October 31st 2017: Top 5's Halloween Party</li>

            <li>September 24th 2017: Top 5's Cure For Cancer Run</li>

            <li>August 21st 2017: Top 5's Back-To-School Party</li>

            <li>July 1st 2017: Top 5's Canada Day Party</li>

            <li>June 24th 2017: Top 5's St-Jean Baptiste Day Party</li>

            <li>June 11th 2017: Top 5's BBQ Party</li>

            <li>May 21st 2017: Top 5's Team-Building Day</li>

            <li>May 5th 2017: Top 5's Annual Food Drive</li>

            <li>April 14th 2017: Top 5's Easter Day Party</li>

            <li>March 31st 2017: Top 5's Material Donations Drive</li>

            <li>March 18th 2017: Top 5's St-Patty's Day Party</li>

            <li>February 14th 2017: Top 5's Valentine's Day Party</li>

            <li>January 15th 2017: Top 5's Clothing Donation Drive</li>

            <li>December 30th 2016: Top 5's New Years Party</li>

            <li>December 23rd 2016: Top 5's Christmas Party</li>
        </ul>
    </div>
</section>
{% endblock %}