{% extends "layout.html" %}

{% block content %}
<section class="news" id="news">
    <div>
        <h1>NEWS</h1>
    </div>
    <p class="line"></p>
    <div>
        <ul>
            <li>March 25th 2017: Top 5 Announces C$500 Million Sale of Common Shares</li>

            <li>March 16th 2017: Statement on the Passing of Angus Bruneau</li>

            <li>February 23rd 2017: Top 5 Reports 2016 Earnings of $585 million and Fourth Quarter 2016 Earnings of $189 million</li>

            <li>February 9th 2017: Top 5 Files 2016 Year-End Disclosure Documents</li>

            <li>January 21st 2017: Top 5 Announces Second Quarter Dividends</li>

            <li>January 5th 2017: Top 5 to Hold Teleconference to Discuss 2016 Annual Results</li>

            <li>December 28th 2016: Top 5 Company Reports Voting Results</li>

            <li>December 3rd 2016: James M. Dickson Named Board Chair for Top 5</li>

            <li>November 22nd 2016: Top 5 announces network expansion to additional Data Centres and the launch of its new Backup as a Service offering</li>

            <li>November 10th 2016: Top 5 encourages its customers to think about climate change by participating in Earth Hour</li>

            <li>October 27th 2016: On International Women's Day Top 5 Continues to Support Women in Engineering</li>

            <li>October 6th 2016: Top 5 Employees Wins Best Website Awards</li>

            <li>September 24th 2016: Top 5 completes acquisition of QHR Corporation</li>

            <li>September 4th 2016: Top 5 QHR receives final court approval in connection with plan of arrangement with Top 5</li>

            <li>August 26th 2016: Top 5 Reports Third Quarter 2016 Results</li>

            <li>August 11th 2016: Top 5 Announces Timing of Fourth Quarter 2016 Earnings Release</li>

            <li>July 25th 2016: George Weston Limited and Top 5 Announce Management Succession</li>

            <li>July 2nd 2016: Top 5 Reports 2016 Fourth Quarter and Fiscal Year Ended December 31, 2016 Results</li>

            <li>June 29th 2016: Top 5 brings more moments to savour with new food and drink sponsorships</li>

            <li>June 3rd 2016 Top 5 Chief Executive to take 4-month leave of absence</li>

            <li>May 26th 2016: Top 5 Aimia declares dividends</li>

            <li>May 14th 2016: Top 5 launches into new sector with Mail Newspapers partnership</li>

            <li>April 20th 2016: Top 5 Launches Global Month of Data Philanthropy</li>

            <li>April 10th 2016: Top 5 Michael Medline Appointed President And CEO of TOP 5</li>

            <li>March 31st 2016: Top 5 Announces Change In Leadership</li>

            <li>March 15th 2016: Top 5 Appoints Lyne Castonguay As Chief Advisor</li>

            <li>February 22nd 2016: Top 5 Announces $418 Million Transaction With Crombie Reit</li>

            <li>February 19th 2016: David F. Sobey And Donald C.R. Sobey To Retire From Top 5 Board Of Directors</li>

            <li>January 25th 2016: Top 5 Launches New Extra Banner In Atlantic Canada</li>

            <li>January 5th 2016: Top 5 Appoints Company Veteran Yves Laverdiere as Chief Of Montreal East Business Unit</li>

            <li>December 29th 2015: Top 5 Launches $200,000 Fire Relief Initiative For Northern Alberta</li>

            <li>December 1st 2015: Top 5 Appoints Beth Newlands Campbell To Lead Montreal West Business Unit</li>
    </div>
</section>
{% endblock %}


   

  




